.dems-html
{
  /*height: 1000px;*/
  /*width: 100%;*/
}

.dems-body
{
  /*height: 600px;*/
  /*width: 100%;*/
}

.dems-header
{
  height: 10%;
  width: 100%;
  background-color: brown;
}

.dems-workspace
{
  height: 80%;
  width: 100%;
  background-color: gray;
}

.dems-footer
{
  height: 10%;
  width: 100%;
  background-color: silver;
}

.dems-cars-list
{
  height: 100%;
  background-color: green;
}

.dems-cars
{
  height: 100%;
  background-color: maroon;
}